.header {
    padding: 15px 20px 15px 20px;
    height: 40px;
    background-color: rgb(247, 249, 252);
    border-bottom: 1px solid rgb(202,216,225);
    color: rgb(0, 109, 126);
    font-size: 14px;
}